<app-nav-bar></app-nav-bar>

<div class="home-body">
  <app-sidebar></app-sidebar>

  <div class="right-content">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <table>
          <tr>
            <div class="card">
              <div class="card-body">
                <div class="left">
                  <h2>Hello there</h2>
                </div>
                <div class="right">
                  <span class="badge badge-warning">Pending</span>
                </div>
              </div>
              <div class="card-footer">
                <div class="left">
                  <i class="fa fa-fw fa-calendar"></i> Deadline
                </div>
                <div class="right">
                  <button type="button" class="btn btn-danger"><i class="fa fa-fw fa-trash"></i> Delete</button>
                  <button type="button" class="btn btn-info"><i class="fa fa-fw fa-edit"></i> Edit</button>
                </div>
              </div>
            </div>
          </tr>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>